fastapi
uvicorn[standard]

sqlalchemy
pydantic

python-jose[cryptography]
passlib
python-multipart
python-dotenv

cohere

langchain
langchain-community
langchain-text-splitters
langgraph
qdrant-client

google-genai

pypdf

requests
